<div class="card-container">
    <div class="card-header">
        <h1>Welcome to Feedback</h1>
    </div>
    
    <div class="card-body">
        <% if (user) { %>
            <h2>Hello <%= user.role === 'TEACHER' ? 'Teacher ' : '' %><%= user.name %></h2>
        <% } else { %>
            <h2>Hello Guest</h2>
        <% } %>
    </div>

    <div class="btn-group">
        <% if (user) { %>
            <% surveys.forEach(survey => { %>
                <a class="btn btn-primary" href="/classroom-survey/<%= survey.id %>"><%= survey.title %></a>
            <% }) %>
        <% } else { %>
          <div class="btn-group">
                <a href="/register" class="btn btn-primary">Register</a>
                <a href="/login" class="btn btn-ghost">Login</a>
          </div>
        <% } %>
    </div>
</div>