<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Index Page</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Welcome to Feedback</h1>

  <% if (user) { %>
    <% if (user.role === "TEACHER") { %>
      <h2>Hello Teacher <%=user.name%></h2>
      <button><a href="">School Classroom Suvey Feedback</a></button>
      <button><a href="">Disaster Preparedness Survey</a></button>
    <% } else { %>
      <h2>Hello <%=user.name%></h2>
      <button><a href="/classroom-survey/">School Classroom Suvey Feedback</a></button>
      <button><a href="/disaster-survey/">Disaster Preparedness Survey</a></button>
    <% } %> 
    <button><a href="/logout">Logout</a></button>
  <% } else {%>
    <button><a href="/register">Register</a></button>
    <button><a href="/login">Login</a></button>
  <% } %>


</body>

</html>