<% if (locals.user) { %>
  <div class="survey-list">

    <%# ── Classroom Surveys ── %>
    <% if (user.role !== 'TEACHER') { %>
      <div style="font-size: 1.75em; font-weight: bold;">Classroom Surveys</div>
      <hr>
        <a class="btn btn-ghost" href="/classroom-survey/">Answer Classroom Survey</a>
    <% } %>

    <%# ── Disaster Preparedness Surveys ── %>
    <div style="font-size: 1.75em; font-weight: bold; margin-top: 2em;">Disaster Preparedness Surveys</div>
    <hr>
    <a class="btn btn-ghost" href="/disaster-survey/">Answer Disaster Survey</a>

  </div>
<% } else { %>
  <div class="btn-group">
    <a href="/register" class="btn btn-primary">Register</a>
    <a href="/login" class="btn btn-ghost">Login</a>
  </div>
<% } %>