<div class="card-container">
  <div class="card-header">
    <h1>Login</h1>
  </div>
  <div class="card-body">
    <h2>Login your account</h2>
  </div>

  <form action="/login" method="POST" class="form-container">
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>

    <!-- This partial handles the error messages styled in your CSS -->
    <%- include("partials/errors.ejs") %>

    <button type="submit">Log in!</button>
    <div class="register login">
      <span>Don't have an account?</span>
      <a href="/register" class="register-btn login-btn">Register now</a>
    </div>
  </form>

</div>
