<div class="btn-group">
    <% if (user) { %>
        <% surveys.forEach(survey => { %>
            <a class="btn btn-primary" href="/classroom-survey/<%= survey.id %>"><%= survey.title %></a>
        <% }) %>
    <% } else { %>
        <div class="btn-group">
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/login" class="btn btn-ghost">Login</a>
        </div>
    <% } %>
</div>